@model DM.PR.Common.Entities.EmployeeShortModel


<div class="well well-sm">
    <div class="row">
        <div class="col-md-3">
            <a href="~/Employees/Details/@Model.Id">
                <img src="~/Content/Images/UserImg.jpg" class="img-responsive img-circle" />
            </a>
        </div>
        <div class="col-md-9">
            <div class="text-right">

                <strong>@Model.FirstName</strong>
                <strong>@Model.MiddleName </strong>
                <strong>@Model.LastName</strong>    <br />

                <strong>@Model.WorkPhone</strong>   <br />
                @Html.RouteLink(Model.DepartmentName,
                         new { controller = "Departments", action = "Details", id = Model.DepartmentId },
                         new { @class = " btn btn-default" })
            </div>
        </div>
    </div>
</div>


