@model DM.PR.WEB.Models.Employee.EmployeeCreateViewModel


<h2 class="text-center">Добавьте нового сотрудника</h2> <br />


@using (Html.BeginForm("Create"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                @Html.Action("GetDepartmentList")
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control ", placeholder = "Фамилия..." })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", placeholder = "Имя..." })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                @Html.TextBoxFor(model => model.MiddleName, new { @class = "form-control", placeholder = "Отчество..." })
                @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                @Html.TextBoxFor(model => model.Address, new { @class = "form-control", placeholder = "Адрес..." })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class=" col-md-offset-4 col-md-8">
                @Html.Action("GetMaritalStatusList")
            </div>
        </div>
        <div class="form-group">
            <div class=" col-md-offset-4 col-md-8">
                @Html.EditorFor(model => model.BeginningWork, new { htmlAttributes = new { @class = "form-control", placeholder = "Дата приема на работу..." } })
                @Html.ValidationMessageFor(model => model.BeginningWork, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class=" col-md-offset-4 col-md-8">
                @Html.EditorFor(model => model.EndWork, new { htmlAttributes = new { @class = "form-control", placeholder = "Дата увальнения..." } })
                @Html.ValidationMessageFor(model => model.Emails, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Phones, new { @class = "control-label col-md-4" })
            @Html.ValidationMessageFor(model => model.Phones, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-6" id="Phones">

                </div>
                <div class="col-md-2">
                    <a id="AddPhone" class="btn btn-default">Добавить телефон</a>
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Emails, new { @class = "control-label col-md-4" })
            @Html.ValidationMessageFor(model => model.Emails, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-6" id="Emails">

                </div>
                <div class="col-md-2">
                    <a id="AddEmail" class="btn btn-default">Добавить Email</a>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-5 col-md-5">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/Phones.js"></script>
<script src="~/Scripts/Emails.js"></script>