@model DM.PR.Common.Entities.Employee

@{
    Layout = "~/Views/Shared/_Details.cshtml";
}

<div class="row">
    <div class="col-md-5" style="padding:20px 35px">
        <img src="~/Content/Images/UserImg.jpg" class="img-thumbnail img-responsive" />
    </div>
    <div class="col-md-7 text-right " style="padding-top:20px">
        <div class="row">
            <div class="col-md-4  text-right">
                <span class="text-info">Full Name:</span>
            </div>
            <div class="col-md-8 text-left ">
                @Model.FirstName
                @Model.MiddleName
                @Model.LastName
            </div>
        </div>
        <div class="row">
            <div class="col-md-4  text-right">
                <span class="text-info">Department:</span>
            </div>
            <div class="col-md-8 text-left">
                @Model.Department.Name
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right">
                <span class="text-info">Marital Status:</span>
            </div>
            <div class="col-md-8 text-left">
                <span class="text-uppercase">@Model.MaritalStatus</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right">
                <span class="text-info">Phones:</span>
            </div>
            <div class="col-md-8 text-left">
                @foreach (var item in Model.Phones)
                {
                    <p style="margin-bottom:0px">@item.Number (@item.Kind) </p>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right">
                <span class="text-info">E-mails:</span>
            </div>
            <div class="col-md-8 text-left">
                @foreach (var item in Model.Emails)
                {
                    <p style="margin-bottom:0px">@item</p>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right">
                <span class="text-info">Home address:</span>
            </div>
            <div class="col-md-8 text-left">
                @Model.Address
            </div>
        </div>

    </div>

    <div class="col-md-6">
    </div>
</div>

