@model EmployeeDetailsViewModel

@{
    Layout = "~/Views/Shared/_Details.cshtml";

    MvcHtmlString EndOfWork = Model.EndOfWork == null ? null
        : new MvcHtmlString($" to {Html.DisplayFor(m => m.EndOfWork).ToString()}");

}

<div class="row">
    <div class="col-md-5" style="padding:20px 35px">
        <img src="~/Content/Images/UserImg.jpg" class="img-thumbnail img-responsive" />
    </div>
    <div class="col-md-7 text-right " style="padding-top:20px">
        <div class="row">
            <div class="col-md-4  text-right">
                <span class="text-info">Full Name:</span>
            </div>
            <div class="col-md-8 text-left ">
                @Model.FirstName
                @Model.MiddleName
                @Model.LastName
            </div>
        </div>
        <div class="row">
            <div class="col-md-4  text-right">
                <span class="text-info">Department:</span>
            </div>
            <div class="col-md-8 text-left">
                @Model.DepartmentName
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right">
                <span class="text-info">Marital Status:</span>
            </div>
            <div class="col-md-8 text-left">
                <span class="text-uppercase">@Model.MaritalStatus</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right">
                <span class="text-info">Phones:</span>
            </div>
            <div class="col-md-8 text-left">
                @{
                    if (Model.Phones != null) { Html.RenderPartial("ListOfPhones", Model.Phones); }
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right">
                <span class="text-info">E-mails:</span>
            </div>
            <div class="col-md-8 text-left">
                @{
                    if (Model.Emails != null) { Html.RenderPartial("ListOfEmails", Model.Emails); }
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right">
                <span class="text-info">Home address:</span>
            </div>
            <div class="col-md-8 text-left">
                @Model.Address
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right">
                <span class="text-info">Period of work:</span>
            </div>
            <div class="col-md-8 text-left">
                <p> From : @Html.DisplayFor(m => m.BeginningOfWork) @EndOfWork</p>
            </div>
        </div>

    </div>

    <div class="col-md-6">
    </div>
</div>

