@model DM.PR.WEB.Models.Employee.EmployeeSaveViewModel

<h2 class="text-center">Редактируйте пользователя</h2> <br />

@using (Html.BeginForm("Save", "Employees", null, FormMethod.Post, new { @id = "AjaxForm", @redirect = Url.Action("Index") }))
{
    @Html.HiddenFor(m => m.Id)
    <div class="row" id="emplCreate">
        <div class="col-md-offset-1 col-md-3">
            <div class=" form-group">
                <img src="~/Content/Images/UserImg.jpg" id="UserImage" class="img-responsive img-thumbnail" />
                <input type="hidden" name="ImagePath" id=" are" value="/Content/Images/UserImg.jpg" />
            </div>
            <div class="form-group">
                <div class="row">
                    <input type="file" id="imageBrowes" />
                </div>
                <div class="row text-center">
                    <input type="button" class="btn btn-default" id="UploadImg" value="Загрузить" />
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-12">
                    @Html.DropDownListFor(m => m.WorkStatusId, new SelectList(Model.WorkStatusList, "Id", "Status", Model.WorkStatusId), new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.WorkStatusId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.BeginningWork, new { @class = "control-label" })
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.BeginningWork, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                    @Html.ValidationMessageFor(m => m.BeginningWork, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.EndWork, new { @class = "control-label", @type = "date" })
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.EndWork, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                    @Html.ValidationMessageFor(m => m.EndWork, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class=" col-md-offset-1 col-md-7">
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(m => m.DepartmentId, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(m => m.DepartmentId, new SelectList(Model.DepartmentList, "Id", "Name", Model.DepartmentId), new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.DepartmentId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("ФИО", new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control ", placeholder = "Фамилия..." })
                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "Имя..." })
                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        @Html.TextBoxFor(model => model.MiddleName, new { @class = "form-control", placeholder = "Отчество..." })
                        @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextAreaFor(model => model.Address, new { @class = "form-control", placeholder = "Адрес...", rows = "3" })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.MaritalStatusId, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(m => m.MaritalStatusId, new SelectList(Model.MaritalStatusList, "Id", "Status", Model.MaritalStatusId), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaritalStatusId, "", new { @class = "text-danger", data_val_required = "Вы не выбрали семейное положение" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Телефоны", new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.HomePhone, new { @class = "form-control ", placeholder = "Домашний телефон..." })
                        @Html.ValidationMessageFor(model => model.HomePhone, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        @Html.TextBoxFor(model => model.WorkPhone, new { @class = "form-control ", placeholder = "Рабочий телефон..." })
                        @Html.ValidationMessageFor(model => model.WorkPhone, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class=" col-md-offset-4 col-md-8">
                        @Html.TextBoxFor(model => model.MobilePhone, new { @class = "form-control ", placeholder = "Мобильный телефон..." })
                        @Html.ValidationMessageFor(model => model.MobilePhone, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class=" col-md-offset-4 col-md-8">
                        @for (int i = 0; i < Model.Emails.Count; i++)
                        {
                            @Html.HiddenFor(m => m.Emails[i].Id)
                            @Html.TextBoxFor(model => model.Emails[i].Address, new { @class = "form-control ", placeholder = "Введите почтовый адресс..." })
                            @Html.ValidationMessageFor(model => model.Emails[i].Address, "", new { @class = "text-danger" })
                        }
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-5">
                        <a id="AddEmail" class="btn btn-default">Добавить Email</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-5 col-md-5">
            <input type="submit" value="Сохранить" class="btn btn-default" />
        </div>
    </div>
}

@section Scripts {
    <script src="~/Scripts/Common/Save.js"></script>
    <script src="~/Scripts/Employee/Emails.js"></script>
    <script src="~/Scripts/Employee/UpdateImage.js"></script>
}
