@model DM.PR.WEB.Models.Employee.EmployeeEditViewModel

<h2 class="text-center">Редактирование данных о сотруднике</h2> <br />

@using (Html.BeginForm("Create"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    <div class="row" id="emplCreate">
        <div class="col-md-offset-1 col-md-3">
            <div class=" form-group">
                <img src="@Model.ImagePath" id="UserImage" class="img-responsive img-thumbnail" />
                <input type="hidden" name="ImagePath" id=" are" value=@Model.ImagePath />
            </div>
            <div class="form-group">
                <div class="row">
                    <input type="file" id="imageBrowes" />
                </div>
                <div class="row text-center">
                    <input type="button" class="btn btn-default" id="UploadImg" value="Загрузить" />
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="row">
                    @Html.ValidationMessageFor(model => model.Phones, "", new { @class = "text-danger" })
                    <div class="row">
                        @Html.LabelFor(model => model.Phones, new { @class = "control-label col-md-4" })
                    </div>
                    <div class="col-md-12" id="Phones">
                        @Html.Action("EditPhone", "Phone", new { phones = Model.Phones })
                    </div>
                    <div class="col-md-12 text-center">
                        <a id="AddPhone" class="btn btn-default">Добавить телефон</a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    @Html.ValidationMessageFor(model => model.Emails, "", new { @class = "text-danger" })
                    <div class="row">
                        @Html.LabelFor(model => model.Emails, new { @class = "control-label col-md-4" })
                    </div>
                    <div class="col-md-12" id="Emails">
                        @{
                            for (int i = 0; i < Model.Emails.Count; i++)
                            {
                                <div class="row">
                                    @Html.Hidden($"Emails[{i}].Id", Model.Emails[i].Id)
                                    @Html.TextBox($"Emails[{i}].Address", Model.Emails[i].Address, new { @class = "form-control" })
                                </div>
                            }
                        }
                    </div>
                    <div class="col-md-12 text-center">
                        <a id="AddEmail" class="btn btn-default">Добавить Email</a>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-md-offset-1 col-md-7">
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.DepartmentId, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.Action("GetDepartmentList", new { selectedId = Model.DepartmentId })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("ФИО", new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control ", placeholder = "Фамилия..." })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", placeholder = "Имя..." })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        @Html.TextBoxFor(model => model.MiddleName, new { @class = "form-control", placeholder = "Отчество..." })
                        @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextAreaFor(model => model.Address, new { @class = "form-control", placeholder = "Адрес...", rows = "3" })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.MaritalStatusId, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.Action("GetMaritalStatusList", "MaritalStatus", new { selectedId = Model.MaritalStatusId })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.WorkStatusId, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.Action("GetWorkStatusList", "WorkStatus", new { selectedId = Model.WorkStatusId })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.BeginningWork, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.BeginningWork, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BeginningWork, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.EndWork, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.EndWork, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EndWork, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-5 col-md-5">
            <input type="submit" value="Сохранить" class="btn btn-default" />
        </div>
    </div>
}



@section Scripts {
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/EditPhones.js"></script>
    <script src="~/Scripts/EditEmails.js"></script>
    <script src="~/Scripts/Employee/UpdateImage.js"></script>
}
