@model IReadOnlyCollection<Employee>

@{
    MvcHtmlString GetHref(int id)
    {
        return new MvcHtmlString(User.Identity.IsAuthenticated ? $"href='/Employees/Details/{id}'" : "");
    }


}

@foreach (var item in Model)
{
    <div class="well well-sm">
        <div class="row">
            <div class="col-md-2">
                <a @GetHref(@item.Id)>
                    <img src="@item.ImagePath" class="img-responsive img-circle" />
                </a>
            </div>

            <div class="col-md-10">
                <div class="text-right">
                    <strong>@item.FirstName</strong>
                    <strong>@item.MiddleName</strong>
                    <strong>@item.LastName</strong>
                </div>
                <div class="text-right">
                    <strong>@item.Department.Phones[0].Number</strong>
                </div>
                <div class="text-right">
                    <strong>@item.Department.Name</strong>
                </div>
            </div>
        </div>
        <div class="row">
            @if (User.IsInRole("admin"))
            {
                if (item.HasRole)
                {
                    @Html.ActionLink("Редактировать пользователя", "Edit", "User", new { employeeId = @item.Id }, null);  
                }
                else
                {
                    @Html.ActionLink("Сделать пользователем системы", "Create", "User", new { employeeId = @item.Id }, null);
                }
            }
        </div>
    </div>
}

<div>
    <input type="hidden" id="totalPage" value="@ViewBag.totalCount" />
</div>




