@model PagedData<Employee>

@{
    Layout = null;
}

@foreach (var item in Model.Data)
{
    <div class="well well-sm">
        <div class="row" id=" d">
            <div class="col-md-1">
                <a href="~/Employees/Details/@item.Id">
                    <img src="~/Content/Images/UserImg.jpg" class="img-responsive img-circle" />
                </a>
            </div>
            <div class="col-md-10">
                <div class="text-right" style="margin-top:20px; margin-right:20px">
                    <strong>@item.FirstName</strong>
                    <strong>@item.MiddleName </strong>
                    <strong>@item.LastName</strong>
                </div>
                <div class="text-right" style="margin-top:20px; margin-right:20px">
                    <strong>@item.Department.Name</strong>
                </div>
            </div>
        </div>
    </div>
}
<div>
    <input type="hidden" id="totalPage" value="@Model.TotalCount" />
</div>




