@model DM.PR.WEB.Models.Employee.EmployeeSaveViewModel

<h2 class="text-center">@ViewBag.title</h2> <br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model=>model.Id)

    <div class="row" id="emplCreate">
        <div class="col-md-offset-1 col-md-3">
            <div class=" form-group">
                <img src="~/Content/Images/UserImg.jpg" id="UserImage" class="img-responsive img-thumbnail" />
                <input type="hidden" name="ImagePath" id=" are" value="/Content/Images/UserImg.jpg" />
            </div>
            <div class="form-group">
                <div class="row">
                    <input type="file" id="imageBrowes" />
                </div>
                <div class="row text-center">
                    <input type="button" class="btn btn-default" id="UploadImg" value="Загрузить" />
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-12">
                    @Html.Action("GetWorkStatusList", "WorkStatus", new { selectedId = Model.WorkStatusId > 0 ? Model.WorkStatusId : 0 })
                    @Html.ValidationMessageFor(model => model.WorkStatusId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.BeginningWork, new { @class = "control-label" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.BeginningWork, new { htmlAttributes = new { @class = "form-control", placeholder = "Дата приема на работу..." } })
                    @Html.ValidationMessageFor(model => model.BeginningWork, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.EndWork, new { @class = "control-label" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.EndWork, new { htmlAttributes = new { @class = "form-control", placeholder = "Дата увальнения..." } })
                </div>
            </div>
        </div>
        <div class=" col-md-offset-1 col-md-7">
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.DepartmentId, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.Action("GetDepartmentList", new { selectedId = Model.DepartmentId > 0 ? Model.DepartmentId : 0 })
                        @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("ФИО", new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control ", placeholder = "Фамилия..." })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", placeholder = "Имя..." })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        @Html.TextBoxFor(model => model.MiddleName, new { @class = "form-control", placeholder = "Отчество..." })
                        @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextAreaFor(model => model.Address, new { @class = "form-control", placeholder = "Адрес...", rows = "3" })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.MaritalStatusId, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.Action("GetMaritalStatusList", "MaritalStatus", new { selectedId = Model?.MaritalStatusId > 0 ? Model.MaritalStatusId : 0 })
                        @Html.ValidationMessageFor(model => model.MaritalStatusId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Телефоны", new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.HomePhone, new { @class = "form-control ", placeholder = "Домашний телефон..." })
                        @Html.ValidationMessageFor(model => model.HomePhone, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        @Html.TextBoxFor(model => model.WorkPhone, new { @class = "form-control ", placeholder = "Рабочий телефон..." })
                        @Html.ValidationMessageFor(model => model.WorkPhone, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class=" col-md-offset-4 col-md-8">
                        @Html.TextBoxFor(model => model.MobilePhone, new { @class = "form-control ", placeholder = "Мобильный телефон..." })
                        @Html.ValidationMessageFor(model => model.MobilePhone, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Emails[0].Address, new { @class = "control-label col-md-4" })
                    <div class="col-md-8" id="Emails">
                        @for (int i = 0; i < Model.Emails.Count; i++)
                        {
                            <div id="email">
                                @Html.HiddenFor(Model => Model.Emails[i].Id)
                                @Html.TextBoxFor(model => model.Emails[i].Address, new { @class = "form-control ", placeholder = "Почтовый адрес..." })
                                @Html.ValidationMessageFor(model => model.Emails[i].Address, "", new { @class = "text-danger" })
                            </div>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-5">
                        <a id="AddEmail" class="btn btn-default">Добавить Email</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-5 col-md-5">
            <input type="submit" value="Сохранить" class="btn btn-default" />
        </div>
    </div>
}



@section Scripts {
    <script src="~/Scripts/Emails.js"></script>
    <script src="~/Scripts/Employee/UpdateImage.js"></script>
}
