@model DM.PR.WEB.Models.Employee.EmployeeSearchModel
<div class="row" id="searchParams">
    <div class="col-md-2">
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Фамилия..." })
    </div>
    <div class="col-md-2">
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "Имя..." })
    </div>
    <div class="col-md-2">
        @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control", placeholder = "Отчество..." })
    </div>
    <div class="col-md-1">
        @Html.TextBoxFor(m => m.FromYear, new { @class = "form-control", @type ="number" })
    </div>
    <div class="col-md-1">
        @Html.TextBoxFor(m => m.ToYear, new { @class = "form-control", @type = "number", @value ="10" })
    </div>
    <div class="col-md-2">
        @Html.DropDownListFor(m => m.WorkStatusId, new SelectList(Model.WorkStatusLst, "Id", "Status"), "Выберите статус", new { @class = "form-control" })
    </div>
    <div class="col-md-1">
        <select id="pageSize" class="form-control">
            <option value="value">5</option>
            <option value="value">10</option>
            <option value="value">15</option>
        </select>
    </div>
    <div class="col-md-1">
        <input type="button" class="btn btn-danger" id="Search" value="Search" />
    </div>
</div>
<br />
<div id="EmployeesList">
</div>
<div class="row">
    <div class="text-center">
        <ul class="pagination" id="paged"></ul>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/Employee/Search.js"></script>
}