@model DM.PR.WEB.Models.User.UserSaveViewModel

<h2 class="text-center">Добавьте пользователя</h2>
<br />

@using (Html.BeginForm("Save", "User", null, FormMethod.Post, new { @id = "AjaxForm", @redirect = Url.Action("Index") }))
{
    @Html.HiddenFor(m => m.EmployeeId)
    <div class="row">
        <div class="form-group">
            <div class="col-md-offset-4">
                @Html.TextBoxFor(m => m.Login, new { @class = "form-control", placeholder = "Введите логин...." })
                @Html.ValidationMessageFor(m => m.Login, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4">
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Введите пароль...." })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4">
                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Подтвердите пароль...." })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Roles, new { @class = "control-label col-md-offset-2 col-md-2" })
            <div class="col-md-8" id="Roles">
                <div>
                    @Html.DropDownListFor(m => m.Roles[0].Id, new SelectList(Model.RolesList, "Id", "Name"), "Выберите роль",
                                                 new { @class = "form-control", data_val_required = "Вы не выбрали роль" })
                    @Html.ValidationMessageFor(m => m.Roles[0].Id, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-5">
                <a id="AddRole" class="btn btn-default">Добавить роль</a>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-5">
                <a id="RemoveRole" class="btn btn-default">Удалить роль</a>
            </div>
        </div>
        <div class="form-group">
            <div class="row text-center">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    <script src="~/Scripts/User/Role.js"></script>
    <script src="~/Scripts/Common/Save.js"></script>
}
