@model IReadOnlyCollection<DM.PR.Common.Entities.Account.User>

<h2 class="text-center">Пользователи системы</h2>
<br />

<table class="table table-bordered text-center" style="background-color:white">
    <tr>
        <th class="text-center">
            Логин
        </th>
        <th class="text-center">
            Пароль
        </th>
        <th class="text-center">
            Действие
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.ActionLink("Подробнее", "Details", "Employees", new { id = item.EmployeeId }, null)/
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) /
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
<div class="col-md-offset-9">
    @Html.ActionLink("Добавить нового пользователя", "Search", "Employees",null, new { @class = "btn btn-default" })
</div>
