@model DM.PR.WEB.Models.Account.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<h2 class="text-center"> Введите даные для входа в систему </h2>
<br />
<div class="row">
    <div class="col-md-offset-5">
        @using (Html.BeginForm("Login", "Account", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.TextBoxFor(m => m.Login, new { @class = "form-control", placeholder = "Введите логин...." })
                @Html.ValidationMessageFor(m => m.Login, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Введите пароль...." })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" value="Войти" class="btn btn-default" />
            </div>
        }
    </div>
</div>
