
<h2 class="text-center">Доступные возможности для пользователя, @User.Identity.Name</h2>
<br />
<div>
    <ul>
        <li>@Html.ActionLink($"Просмотр {(@User.IsInRole("admin") ? "и редактирование" : "полной")} информации о сотруднике", "Index", "Employees")</li>
        <li>@Html.ActionLink("Просмотр и редактирование отделов", "Index", "Departments")</li>
        <li>@Html.ActionLink("Просмотр и редактирование информации о видах связи", "Index", "KindPhone")</li>
        <li>@Html.ActionLink("Просмотр и редактирование информации о статусах сотрудников ", "Index", "WorkStatus")</li>
        <li>@Html.ActionLink("Просмотр и редактирование информации о семейных положениях сотрудников", "Index", "MaritalStatus")</li>

        @if (User.IsInRole("admin"))
        {
            <li>@Html.ActionLink("Редактирование пользователей", "Index", "User")</li>
        }

    </ul>
</div>


