@using DM.PR.Common.Entities;
@model IEnumerable<DepartmentNavModel>

@helper ChildrenList(DepartmentNavModel element)
    {
        if (element.Cildren != null)
        {
            <ul>
                @foreach (var item in element.Cildren)
                {
                    <li>
                        @Ajax.ActionLink(@item.Name, "List", "Employees", new { department = item.Name },
                                                      new AjaxOptions { UpdateTargetId = "ListOfEmployees" })
                    </li>
                    @ChildrenList(item)
                }
            </ul>
        }
}


<div>
    <ul>
        <li>
            @Ajax.ActionLink("ALL", "List", "Employees", new AjaxOptions { UpdateTargetId = "ListOfEmployees" })

        </li>
        @foreach (var item in Model)
        {
            <li>
                @Ajax.ActionLink(@item.Name, "List", "Employees", new { department = item.Name },
                                        new AjaxOptions { UpdateTargetId = "ListOfEmployees" })

                @ChildrenList(item)

            </li>
        }
    </ul>
</div>