@model DM.PR.WEB.Models.DepartmentCreateViewModel


<h2 class="text-center">Добавьте новый отдел</h2> <br />


@using (Html.BeginForm("Create"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                @Html.Action("GetParentDepartment")
                @Html.ValidationMessageFor(model => model.ParentId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Название отдела..." })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">                                                                
            <div class="col-md-offset-4 col-md-8">
                @Html.TextAreaFor(model => model.Address,new { @class = "form-control", placeholder = "Адрес..." } )
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "Описание..." })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Phones, new { @class = "control-label col-md-4" })
            @Html.ValidationMessageFor(model => model.Phones, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-6" id="Phones">

                </div>
                <div class="col-md-2">
                    <a id="AddPhone" class="btn btn-default">Добавить телефон</a>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Добавить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script src="~/Scripts/Phones.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
