@model DM.PR.WEB.Models.DepartmentDeatailsViewModel

@{
    Layout = "~/Views/Shared/_Details.cshtml";
}

<div class="row">
    <div class="col-md-7 text-right " style="padding-top:20px">
        <div class="row">
            <div class="col-md-4  text-right">
                <span class="text-info">Вышестоящий отдел:</span>
            </div>
            <div class="col-md-8 text-left">
                @Model.ParentName
            </div>
        </div>
        <div class="row">
            <div class="col-md-4  text-right">
                <span class="text-info">Название:</span>
            </div>
            <div class="col-md-8 text-left ">
                @Model.Name
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right">
                <span class="text-info">Телефоны:</span>
            </div>
            <div class="col-md-8 text-left">
                @{
                    foreach (var item in Model.Phones)
                    {
                        <p>@item.Number</p>
                    }
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right">
                <span class="text-info">Адресс:</span>
            </div>
            <div class="col-md-8 text-left">
                @Model.Address
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right">
                <span class="text-info">Описание:</span>
            </div>
            <div class="col-md-8 text-left">
                @Model.Description
            </div>
        </div>
    </div>
</div>

