@model IEnumerable<DM.PR.Common.Entities.Department>

@foreach (var item in Model)
{
    <tr>
        <td>@item.Id</td>
        <td>@item.ParentId</td>
        <td>@item.Name</td>
        <td>@item.Address</td>
        @*<td>
                @foreach (var phone in item.Phones)
                {
                    <p >@phone.Number (@phone.Kind)</p>
                }
            </td>*@
        <td>@item.Description</td>
        <td>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</td>
        <td>@Html.ActionLink("Delete", "Delete", new { id = item.Id })</td>
    </tr>
}

